.body{
    padding: 2rem;
    padding-top: 1rem;
    background-color: #1A1B21;
    color: white;
}
h1, h2, small{
    text-align: center;
    display: block;
    margin: 0rem;
    line-height: 1.5em;
}
h2{
    color: rgb(228, 178, 53);
}
p{
    max-width: 350px;
    color: rgb(180, 180, 180);
    line-height: 1.5em;
}
h3{
    margin-top: 1.5rem;
    margin-bottom: 0rem;
    line-height: 1em;
}
p:last-child{
    margin-bottom: 0px;
}